
body {
    background: gray;
    margin: 0;
    padding: 0;
}

#app {
    position: absolute;
    left:18%;
    top:13%;
    width:1000px;
    height:630px;
    outline:5px groove greenyellow;
    display:inline-block;
}

#time_bar{
    background: red;
    width:0;
    height:30px;
    position: relative;
}

#game_area{
    width:100%;
    height:600px;
    background: #EDE4CC;
    position: relative;
}

#player{
    color: mintcream;
    position: relative;
    left: 0;
    top: 20px;
}

#score_tab{
    position: absolute;
    width:250px;
    height:50px;
    color: green;
    left: 18%;
    top: 2%;
    font-size: 50px;
}
